<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>ToolFind 페이지</title>

        <!-- 스타일시트 링크 (올바른 경로로 수정) -->
        <link href="/css/common_msy.css" rel="stylesheet">
        <link href="/css/styles1.css" rel="stylesheet">

        <!-- 필요 시 추가 스타일시트 및 스크립트 -->
        <script src="/js/jquery-migrate-3.0.0.js"></script>
        <script src="/js/some-script.js"></script> <!-- 필요한 추가 스크립트 링크 예시 -->
    </head>

    <body>
        <div id="wrap">
            <header id="header"><!-- header : start -->
                <div class="header-line">
                    <div class="top-wrap inner" style="display: flex; justify-content: space-between; align-items: center; padding: 20px;">
                        <!-- 로고 영역 -->
                        <div class="logo-box">
                            <a href="http://localhost:8080/board/%7Bid%7D">
                                <img src="/images/toollogo.png" alt="메인페이지 바로가기" style="max-height: 50px;">
                            </a>
                        </div>

                        <!-- 우측 상단 링크 영역 -->
                        <div class="util-box">
                            <a sec:authorize="isAnonymous()" href="http://localhost:8080/msy/join">회원가입</a>
                            <a sec:authorize="isAnonymous()" href="http://localhost:8080/msy/login">로그인</a>
                            <a sec:authorize="isAuthenticated()" href="http://localhost:8080/msy/logout">로그아웃</a>
                            <a href="http://localhost:8080/board/%7Bid%7D">사이트맵</a>
                        </div>
                    </div><!-- top-wrap: end -->
                </div>

                <!-- 네비게이션 영역 -->
                <div id="bottom-wrap" class="inner"><!-- bottom-wrap : start -->
                    <nav>
                        <ul class="nav-box">
                            <li class="nav-btn">
                                <div>이미지분석</div>
                                <ul class="nav-list">
                                    <li><a href="http://localhost:8080/lcs/trip">이미지분석</a></li>
                                    <li><a href="http://localhost:8080/lcs/trip-random">테스트</a></li>
                                </ul>
                            </li>
                            <li class="nav-btn">
                                <div>공구상세</div>
                                <ul class="nav-list">
                                    <li><a href="http://localhost:8080/lcs/festival">공구상세</a></li>
                                    <li><a href="http://localhost:8080/lcs/festival-random">테스트</a></li>
                                </ul>
                            </li>
                            <li class="nav-btn">
                                <div>커뮤니티</div>
                                <ul class="nav-list">
                                    <li><a href="http://localhost:8080/lcs/trip-custom">질문하기</a></li>
                                    <li><a href="http://localhost:8080/lcs/festival-random">테스트</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div><!-- bottom-wrap : end -->
            </header><!-- header : end -->

            <!-- 본문 영역 -->
            <div layout:fragment="content">
                <p> 컨텐트영역</p>
            </div>

            <!-- 하단 정보 영역 -->
            <section id="last-info" class="inner">
                <div class="banner-box">
                    <a href="#"><img src="/images/lcs_busan_Event.png" alt="이벤트 배너"></a>
                </div>
                <div class="sqa">
                    <p class="title">무엇이 궁금하신가요?</p>
                    <div class="content">
                        <div class="phon">
                            <p>010-0000-0000</p>
                            <a href="#">자주묻는질문</a>
                        </div>
                        <div class="time">
                            <h4>운영시간</h4>
                            <p>월요일 ~ 금요일 09:00 ~ 18:00<br>
                                주말 및 법정 공휴일은 휴관합니다.</p>
                        </div>
                    </div>
                </div>
            </section><!-- last-info : end -->

            <!-- SNS 링크 영역 -->
            <section id="sns" class="inner">
                <div class="sns-left">
                    <h2>Tools<span>SNS</span></h2>
                    <p>실시간 소식을 편리하게 확인해보세요!</p>
                </div>
                <div class="sns-right">
                    <div class="naver">
                        <a href="https://blog.naver.com/seochowomen" target="_blank">
                            <img src="/images/sns-naver.png" alt="네이버 SNS 바로가기 아이콘">
                            <p>네이버 블로그</p>
                        </a>
                    </div>
                    <div class="face-book">
                        <a href="https://www.facebook.com/seochowomen2016" target="_blank">
                            <img src="/images/sns-facebook.png" alt="페이스북 SNS 바로가기 아이콘">
                            <p>페이스북</p>
                        </a>
                    </div>
                    <div class="insta">
                        <a href="https://www.instagram.com/seochowomen/" target="_blank">
                            <img src="/images/sns-insta.png" alt="인스타그램 SNS 바로가기 아이콘">
                            <p>인스타그램</p>
                        </a>
                    </div>
                    <div class="youtube">
                        <a href="https://www.youtube.com/channel/UC5L6G0Eh04X-wl1eJCjU_rg" target="_blank">
                            <img src="/images/sns-youtube.png" alt="유튜브 SNS 바로가기 아이콘">
                            <p>유튜브</p>
                        </a>
                    </div>
                    <div class="kakao">
                        <a href="https://pf.kakao.com/_ZeJMC" target="_blank">
                            <img src="/images/sns-kakao.png" alt="카카오톡 SNS 바로가기 아이콘">
                            <p>카카오톡</p>
                        </a>
                    </div>
                </div>
            </section><!-- sns : end -->

            <!-- 푸터 영역 -->
            <footer id="footer-wrap">
                <div class="inner">
                    <div class="logo-sns">
                        <img src="/images/lcs_footer_logo.png" alt="로고이미지">
                        <div class="sns">
                            <a href="https://blog.naver.com/seochowomen" target="_blank"><img src="/images/footer-naver.png" alt="네이버 sns 바로가기"></a>
                            <a href="https://www.facebook.com/seochowomen2016" target="_blank"><img src="/images/footer-facebook.png" alt="페이스북 sns 바로가기"></a>
                            <a href="https://www.youtube.com/channel/UC5L6G0Eh04X-wl1eJCjU_rg" target="_blank"><img src="/images/footer-youtube.png" alt="유튜브 바로가기"></a>
                            <a href="https://www.instagram.com/seochowomen/" target="_blank"><img src="/images/footer-insta.png" alt="인스타 sns 바로가기"></a>
                            <a href="https://pf.kakao.com/_ZeJMC" target="_blank"><img src="/images/footer-kakao.png" alt="카카오톡 바로가기"></a>
                        </div>
                    </div>
                    <div class="content">
                        <div>
                            <a href="#">개인정보 취급방침</a>
                            <a href="#">이용약관</a>
                            <a href="#">사이트맵</a>
                            <a href="#">오시는길</a>
                        </div>
                        <div class="family">
                            <a href="#" class="click" onclick="return false">
                                퀵 리스트<i class="icon" role="img"></i>
                            </a>
                        </div>
                    </div>
                    <p>부산 부산진구 중앙대로 708 부산파이낸스센터 4층 <br>
                        대표전화: 010-0000-0000<br>
                        사업자등록번호 114-82-61807<br>
                        팀명 : 시가총액3조(이한솔,문수연,이현종,임채수,홍진태)<br>
                        <br>
                        Copyright ⓒ. All Rights Reserved.</p>
                </div>
            </footer><!-- footer : end -->
        </div><!--wrap-->

        <!-- 추가 스크립트 로드 -->
        <!-- jQuery 라이브러리 -->
        <script src="/js/jquery.js"></script> <!-- 필요시 jQuery 파일 로드 -->
        <!-- main.js 파일 로드 -->
        <script src="/js/main.js"></script> <!-- main.js 파일 로드 -->
    </body>
</html>
