/* login_lhs.css */
body {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.card-body {
    width: 100%;
}

.card-body h1 {
    font-size: 18px;
    color: #e74c3c;
    text-align: center;
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

.input-group-text {
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 18px; /* 글자 크기 확대 */
    padding: 10px 15px; /* 패딩 조정 */
    line-height: 1.5; /* 줄 간격 조정 */
}

.form-control {
    border: none;
    border-radius: 0 5px 5px 0;
    box-shadow: none;
    font-size: 18px; /* 입력 필드 글자 크기 확대 */
    padding: 10px 15px; /* 패딩 조정 */
    line-height: 1.5; /* 줄 간격 조정 */
}

.form-control:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    color: #555;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    margin-bottom: 15px;
}

.btn-primary {
    background: #3498db;
    color: white;
}

.btn-primary:hover {
    background: #2980b9;
}

.joinBtn {
    background: #1abc9c;
}

.joinBtn:hover {
    background: #16a085;
}

.submitBtn {
    background: #3498db;
}

.submitBtn:hover {
    background: #2980b9;
}

a img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

@media (max-width: 576px) {
    .card {
        padding: 20px;
    }
}
